* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    scroll-behavior: smooth;
  }

button a{
  text-decoration: none;
  color: white;
}

a:hover {
  color: black;
}
  
.card {
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: 80%;
}

.card table {
  text-align: center;
  padding: 5px;
}